body {
    font-family: 'Montserrat', sans-serif;
    background: url("../img/bg.jpg");
}

header {
    background-color: #0d0809b2;
    /*! padding: 20px; */
    height: 90px;
    position: relative;
    top: 15px;
}


@media screen and (max-width: 600px) {
    header {
        height: 105px;
        width: 100vw;
        z-index: 1;
    }
}

.caixa {
    /*! position: relative; */
    max-width: 940px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    /*! display: block; */
    overflow: hidden;
    /*! align-content: flex-start; */
    /*! z-index: -450; */
    position: relative;
}

.capa {
    height: 900px;
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    /* width: 100vw; */
    background-position-y: center;
    background-position-x: center;
}

@media screen and (max-width: 600px) {
    .capa {
        height: 100vh;
    }
}

.logo {
    height: 150px;
    width: auto;
}

header .caixa {
    overflow: unset;
    top: -24px;
    padding: 0px 10px;
    /* display: inline-block; */
}

@media screen and (max-width: 600px) {
    header .caixa {
        overflow: hidden;
    }
}

header nav {
    position: absolute;
    right: 0px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: inherit;
    line-height: 140px;
}

@media screen and (max-width: 600px) {
    header nav {
        line-height: 30px;
        right: unset;
        top: 29px;
        /* margin-left: 12px; */
        /* text-align: center; */
    }
}

header nav li {
    display: inline;
    margin: 0 0 0 15px;
}

@media screen and (max-width: 600px) {
    header nav li {
        display: block;
    }
}

header nav a {
    text-transform: uppercase;
    color: #f0eeef;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header nav a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.titulo {
    display: table-cell;
    max-width: 940px;
    height: 50vh;
    margin: 0 auto;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .titulo {
        display: none;
    }
}

h1 {
    color: #f0eeef;
    font-size: 100px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Abril Fatface', cursive;
    /* line-height: 80px; */
    /* margin-top: 210px; */
    /* font-weight: bold; */
    line-height: .9em;
    letter-spacing: -.03em;
    text-shadow: 5px 5px 5px black;
}

/* @media screen and (max-width: 670px) {
    h1 {
        font-size: 60px;
    }
} */

/* css da página da home */

main {
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#888888));
    background: -o-linear-gradient(#fefefe, #888888);
    background: linear-gradient(#fefefe, #888888);
    padding: 3em 0;
}

.principal {
    /* background: #fefefe; */
    width: 100%;
    margin: 0 auto;
    /* z-index: 1; */
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
    text-align: justify;
    line-height: 25px;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.barberpole {
    height: 150px;
    float: left;
    margin: 0 30px 30px 0;
}

.mapa {
    padding: 3em 0;
    background-color: #7a6764;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 100%;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
}

.conteudo-beneficios {
    width: 90%;
    margin: 0 auto;
}

.lista-beneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 500px) {
    .lista-beneficios {
        width: 100%;
    }
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "\1F488    ";
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 50%;
    opacity: 1;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    -webkit-box-shadow: 7px 7px 7px 0 #000000;
            box-shadow: 7px 7px 7px 0 #000000;
}

@media screen and (max-width: 500px) {
    .imagem-beneficios {
        display: none;
    }
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto
}

@media screen and (max-width:600px) {
    .video {
        width: 100%;
    }
}

/* css da página de serviços */

.servicos {
    background-image: url(../img/tesoura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 200px;
}

.servicos-main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}


.produtos {
    display: -ms-grid;
    display: grid;
}

.produtos--fill {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
    padding: 30px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .produtos li  {
        margin: 10px 0;
    }
}


.produtos li:hover {
    border-color: rgb(182, 69, 41);
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.produtos li:active {
    border-color: rgb(82, 30, 17);
}

/* .produtos li:hover h2 {
    font-size: 34px;
} */

.produtos img {
    width: 100%;
    height: auto;
}


.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*css da página contato*/

.contato {
    background-image: url(../img/telefone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 200px;
}

form {
    margin: 40px auto 0 auto;
    width: 100%;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.radio {
    margin: 20px 0;
}

select {
    width: 150px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    select {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 350px) {
    select {
        width: 100%;
    }
}

table {
    margin: 20px 0;
    width: 300px;
}

@media screen and (max-width: 600px) {
    table {
        width: 70%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 350px) {
    table {
        width: 100%;
    }
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.checkbox {
    margin: 20px 0;
}

.botao {
    text-align: center;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #533e27;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .enviar {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .enviar {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .enviar {
        width: 100%;
    }
}

.enviar:hover {
    opacity: 0.9;
}

/* css do footer */

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 20px 0;
}

.logo-footer {
    height: 200px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}